.card-list {
    display: flex;
    overflow-x: hidden; /* Change to 'hidden' to hide overflow */
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    white-space: nowrap;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    overflow: auto; /* Add this line to enable horizontal scrolling */
  }
  
  .card {
    flex: 0 0 300px;
    margin: 10px;
  }
  
  .arrow {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .card-list:hover .arrow {
    visibility: visible; /* Show the arrow on hover */
  }
  